body{
    background-color: rgb(255, 159, 128);
}
fieldset{
    background-color: rgb(255, 255, 255);
    width: 40%;
    float: left;
}
p{
    width: 80%;
    float: left;
}
label{
    float: left;
    width: 80%;
}
input{
    float: left;
    width: 80%;
}
@media screen and (max-width: 1025px) {
    body{
        background-color:rgb(255, 179, 102)
    }
    h1{
        font-size: 150%;
    }
    input{
        padding: 5%;
    }
}
@media screen and (max-width: 601px) {
    body{
        background-color:rgb(255, 255, 102)
    }
    fieldset{
        width: 90%;
    }
}